# Task 5 : Remove Duplication

# Importing libraries

In [40]:
import numpy as np
import pandas as pd

# Importing data

In [41]:
# load the data
df = pd.read_csv("Iris.csv")

In [42]:
# preview the data
df.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [43]:
print("The shape of the DataFrame is = {}".format(df.shape))

The shape of the DataFrame is = (150, 6)

In [44]:
# check the column names   
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [45]:
df.set_index("Id" , inplace=True  )

- I check column names and i put PassengerId as index because it unique values

In [46]:
# check data type
df.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

- I checked data types of columns and there aren't need any modification.

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [48]:
df.describe().round(2)

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count         150.00        150.00         150.00        150.00
mean            5.84          3.05           3.76          1.20
std             0.83          0.43           1.76          0.76
min             4.30          2.00           1.00          0.10
25%             5.10          2.80           1.60          0.30
50%             5.80          3.00           4.35          1.30
75%             6.40          3.30           5.10          1.80
max             7.90          4.40           6.90          2.50

In [49]:
#Check missing values 
Total = df.isnull().sum().sort_values(ascending = False)
Present = Total/df.isnull().count()
missing_value = pd.concat([Total, Present] , keys=['Total','Present'] ,axis =1).round(3) 
missing_value

               Total  Present
SepalLengthCm      0      0.0
SepalWidthCm       0      0.0
PetalLengthCm      0      0.0
PetalWidthCm       0      0.0
Species            0      0.0

# We will check duplicate values

In [50]:
df.duplicated().sum()

3

In [54]:
df.drop_duplicates( inplace=True)

In [55]:
df.duplicated().sum()

0

# Duplicates have been removed with success.

# GOOD LUCK !